<ion-header>
    <ion-toolbar>
      <ion-title>Tempahan</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card>
        <img src="assets/img/card-saopaolo.png"/>
        <div class="card-title cleaner" >Pembantu Rumah Harian</div>
      </ion-card>
    <ion-list>
      <ion-item-divider>Butiran Tempahan</ion-item-divider>
      <ion-item>
        <ion-label>Tarikh khidmat</ion-label>
        <!-- <ion-datetime placeholder="Masukkan tarikh" displayFormat="DD/MM/YYYY" min="2018-11-20"></ion-datetime> -->
        <ion-datetime placeholder="Masukkan tarikh" pickerFormat="DD MMM YYYY" displayFormat="DD/MM/YYYY" min="2018-11-20" max="2022-12-09"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Jumlah masa</ion-label>
        <ion-select placeholder="Buat pilihan" interface="alert">
          <ion-select-option value="4">4 jam</ion-select-option>
          <ion-select-option value="5">5 jam</ion-select-option>
          <ion-select-option value="6">6 jam</ion-select-option>
          <ion-select-option value="7">7 jam</ion-select-option>
          <ion-select-option value="8">8 jam</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Jenis kediaman</ion-label>
        <ion-select placeholder="Buat pilihan" interface="alert">
          <ion-select-option value="teres">Teres</ion-select-option>
          <ion-select-option value="banglo">Banglo</ion-select-option>
          <ion-select-option value="semid">Semi D</ion-select-option>
          <ion-select-option value="kondo">Kondominium</ion-select-option>
          <ion-select-option value="flat">Flat</ion-select-option>
          <ion-select-option value="other">Lain-lain</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Alamat" rows="5"></ion-textarea>
      </ion-item>
      <ion-item-divider>Kawasan yang perlu dibersihkan</ion-item-divider>
      <ion-item>
          <ion-label>Sila buat pilihan</ion-label>
          <ion-select placeholder="Klik sini"  interface="alert" [interfaceOptions]="selectOptions" multiple="true">
            <ion-select-option>Ruang tamu</ion-select-option>
            <ion-select-option>Bilik air</ion-select-option>
            <ion-select-option>Bilik tidur</ion-select-option>
            <ion-select-option>Dapur</ion-select-option>
            <ion-select-option>Halaman rumah</ion-select-option>
            <ion-select-option>Keseluruhan rumah</ion-select-option>
            <ion-select-option>Lain-lain</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item-divider>Mesej tambahan</ion-item-divider>
      <ion-item>
        <ion-textarea placeholder="Taip mesej anda di sini" rows="3"></ion-textarea>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button (click)="presentAlertConfirm()" expand="block">Hantar</ion-button>
    </div>
  </ion-content>
  