<ion-header>
  <ion-toolbar>
    <ion-title>Tempahan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item tappable href="OrderDetail">
      <ion-avatar slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-label>
        <h2>Pembantu Rumah Harian</h2> 
        <p>20 Sep 2018</p>
        <p>Status: Aktif</p>
        <p>2 orang respon</p>
      </ion-label>
      <div item-content slot="end">
        <strong>RM 60-90</strong>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
