<ion-header>
  <ion-toolbar>
    <ion-title>Tempahan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/card-sf.png" />
    <div class="card-title">Urut Pantang</div>
  </ion-card>
  <ion-list>
      <!-- body.append('date_booking', data.date_booking);
      body.append('package', data.package);
      body.append('message', data.message);
      body.append('address', data.address);
      body.append('city', data.city);
      body.append('state', data.state);  -->
    <ion-item-divider>Butiran Tempahan</ion-item-divider>
    <ion-item>
      <ion-label>Jangkaan bersalin</ion-label>
      <ion-datetime placeholder="Masukkan tarikh" [(ngModel)]="orderForm.date_booking" pickerFormat="DD MMM YYYY" displayFormat="DD/MM/YYYY" min="2018-11-20" max="2022-12-09"></ion-datetime>
    </ion-item>
    <ion-item> 
      <ion-label>Jenis pakej</ion-label>
      <ion-select [(ngModel)]="orderForm.package" placeholder="Buat pilihan" interface="alert">
        <ion-select-option value="14">14 hari</ion-select-option>
        <ion-select-option value="21">21 hari</ion-select-option>
        <ion-select-option value="28">28 hari</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item-divider>Mesej tambahan</ion-item-divider>
    <ion-item>
      <ion-textarea placeholder="Taip mesej anda di sini" rows="3"></ion-textarea>
    </ion-item>
    <ion-item-divider>Butiran Pelanggan</ion-item-divider>
    <ion-item>
      <ion-textarea placeholder="Alamat" rows="5" [(ngModel)]="orderForm.address"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Bandar</ion-label>
      <ion-input placeholder="i.e Kajang" [(ngModel)]="orderForm.city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Negeri</ion-label>
      <ion-input placeholder="i.e Selangor" [(ngModel)]="orderForm.state"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button (click)="presentAlertConfirm()" expand="block">Hantar</ion-button>
  </div>
</ion-content>
