<ion-header>
  <ion-toolbar>
    <ion-title>Tempahan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/catering.png" />
    <div class="card-title">Katering</div>
  </ion-card>
  <ion-list> 

    <ion-item-divider>Butiran Tempahan</ion-item-divider>
    <ion-item>
      <ion-label>Jenis majlis</ion-label>
      <ion-select placeholder="Buat pilihan" [(ngModel)]="orderForm.type_event" okText="OK" cancelText="Cancel">
        <ion-select-option value="Perkahwinan">Perkahwinan</ion-select-option>
        <ion-select-option value="Aqiqah">Aqiqah</ion-select-option>
        <ion-select-option value="Doa Selamat">Doa Selamat</ion-select-option>
        <ion-select-option value="Hari Jadi">Hari Jadi</ion-select-option>
        <ion-select-option value="Open House">Open House</ion-select-option>
        <ion-select-option value="Lain-lain">Lain-lain</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tarikh majlis</ion-label>
      <ion-datetime [(ngModel)]="orderForm.date_booking" placeholder="Masukkan tarikh" pickerFormat="DD MMM YYYY"
        displayFormat="DD/MM/YYYY" max="2025" min="2019"></ion-datetime>
      </ion-item>
    <ion-item>
      <ion-label>Jumlah tetamu</ion-label>
      <ion-input type="number" [(ngModel)]="orderForm.total_visitor" placeholder="i.e 500"></ion-input>
    </ion-item>
    <ion-item-divider>Mesej tambahan</ion-item-divider>
    <ion-item>
      <ion-textarea placeholder="Taip mesej anda di sini" rows="3" [(ngModel)]="orderForm.message"></ion-textarea>
    </ion-item>
    <ion-item-divider>Butiran Pelanggan</ion-item-divider>
    <ion-item>
      <ion-textarea placeholder="Alamat" rows="5" [(ngModel)]="orderForm.address"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Tel</ion-label>
      <ion-input placeholder="i.e 6012345679" [(ngModel)]="orderForm.phone_no"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bandar</ion-label>
      <ion-input placeholder="i.e Kajang" [(ngModel)]="orderForm.city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Negeri</ion-label>
      <ion-input placeholder="i.e Selangor" [(ngModel)]="orderForm.state"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button (click)="presentAlertConfirm()" expand="block">Hantar</ion-button>
  </div>
</ion-content>