<ion-tabs>
  <ion-tab icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="clipboard" href="/tabs/(order:order)">
    <ion-router-outlet name="order"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="star" href="/tabs/(favourite:favourite)">
    <ion-router-outlet name="favourite"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="person" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
