<ion-header>
    <ion-toolbar>
      <ion-title>Katering</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item-divider>Butiran Tempahan</ion-item-divider>
      <ion-item>      
        <ion-label>Jenis majlis</ion-label>
        <ion-select placeholder="Buat pilihan" okText="OK" cancelText="Cancel">
          <ion-select-option value="Perkahwinan">Perkahwinan</ion-select-option>
          <ion-select-option value="Aqiqah">Aqiqah</ion-select-option>
          <ion-select-option value="Doa Selamat">Doa Selamat</ion-select-option>
          <ion-select-option value="Hari Jadi">Hari Jadi</ion-select-option>
          <ion-select-option value="Open House">Open House</ion-select-option>
          <ion-select-option value="Lain-lain">Lain-lain</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Tarikh majlis</ion-label>
        <ion-datetime placeholder="Masukkan tarikh"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Jumlah tetamu</ion-label>
        <ion-input type="number" placeholder="i.e 500"></ion-input>
      </ion-item>
      <ion-item-divider>Mesej tambahan</ion-item-divider>
      <ion-item>
        <ion-textarea placeholder="Taip mesej anda di sini" rows="3"></ion-textarea>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="block">Hantar</ion-button>
    </div>
  </ion-content>
  