
    ion-card {
      position: relative;
      text-align: center;
    }

    h1 {
      font-size: 2em;
    }
  
    .card-title {
      position: absolute;
      top: 40%;
      font-size: 2.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .sc-ion-card-md-h, .sc-ion-card-ios-h {
      margin: 0px;
      width: 100%;
      // height: 12em;
      border-radius: 0px;
    }
  
  