<ion-header>
  <ion-toolbar>
    <ion-title>Accepted</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Order #256777</ion-card-subtitle>
      <ion-card-title>
        <ion-icon name="thumbs-up" color="secondary"></ion-icon> Order Started!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Your favourite service provider will be contacting you soon as they received this confirmation. Sit back, relax
      and watch the job done by them!
    </ion-card-content>
    <div padding>
      <ion-button (click)="dismiss()" shape="round" color="primary" expand="block" fill="outline" icon-left center
        text-center>
        <div>Close</div>
      </ion-button>
    </div>

  </ion-card>

</ion-content>
