<ion-header>
  <!-- <ion-toolbar> -->
    <!-- <ion-title>Home</ion-title> -->
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content class="card-background-page">
  <!-- <h1 padding>Home</h1>(click)="openForm('cleaning')" -->
  <ion-card tappable (click)="openForm('cleaning')">
    <img src="assets/img/card-saopaolo.png"/>
    <div class="card-title cleaner" >Pembantu Rumah Harian</div>
    <!-- <div class="card-subtitle">41 Listings</div> -->
  </ion-card>

  <ion-card tappable (click)="openForm('catering')">
    <img src="assets/img/card-amsterdam.png"/>
    <div class="card-title">Katering</div>
  </ion-card>

  <ion-card tappable (click)="openForm('confinement')">
    <img src="assets/img/card-sf.png"/>
    <div class="card-title">Urut Pantang</div>
  </ion-card>

</ion-content>
