<ion-header>
  <ion-toolbar>
    <ion-title>Saved Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail="true" href="CompanyDetails">
      <ion-thumbnail slot="start">
        <img src="assets/img/logo.png">
      </ion-thumbnail>
      <ion-label>
        <ion-text><h2>Syarikat XYZ</h2></ion-text>
        <ion-text><p>Pembantu rumah harian</p></ion-text>
      </ion-label>
    </ion-item>
    <ion-item detail="true" href="CompanyDetails">
        <ion-thumbnail slot="start">
          <img src="assets/icon/favicon.png">
        </ion-thumbnail>
        <ion-label>
          <ion-text><h2>Syarikat XYZ</h2></ion-text>
          <ion-text><p>Pembantu rumah harian</p></ion-text>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
